header {
  width: 100%;
  height: 200px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

main {
  width: 50%;
  margin: 0 auto;
}

.main_sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 180px;
  background: #f2f2f2;
}

footer {
  width: 100%;
  height: 60px;

  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 500px) {
  main {
    width: 100%;
  }
}
