@font-face {
  font-family: "LaptevBrush";
  src: local("LaptevBrush"),
   url("./fonts/laptevBrush.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}
