.task {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: darkgray;
  box-shadow: 5px 5px 10px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.task__text {
  width: 60%;
  color: black;
}
.task__btns {
  display: flex;
  gap: 5px;
}
.task .hidden {
  visibility: hidden;
}
.task .done {
  text-decoration: line-through;
}
